<div class="background">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8">
        <div class="form">

          <h1>The Cocktail <%= @name %> has been added to the Database!</h1>

          <%= link_to "Search for a Cocktail", root_path, class: "btn" %>

        </div>
      </div>
    </div>
  </div>
</div>
